In [1]:
import pandas as pd

In [2]:
df= pd.read_json("files/dados_hospedagem.json")

In [3]:
df.head()

                                         info_moveis
0  {'avaliacao_geral': '10.0', 'experiencia_local...
1  {'avaliacao_geral': '10.0', 'experiencia_local...
2  {'avaliacao_geral': '10.0', 'experiencia_local...
3  {'avaliacao_geral': '10.0', 'experiencia_local...
4  {'avaliacao_geral': '10.0', 'experiencia_local...

In [4]:
#extrair dados usando json normalize
df = pd.json_normalize(df["info_moveis"])
df
#todos os dados estão dentro de uma lista []

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,nan,--,5,[Our cozy little bungalow is the perfect place...,[The Queen Anne neighborhood is one of the mos...,"[1, 3, 2, 2, 2, 1, 2, 1, 1, 1, 2, 3, 2, 2, 2, ...","[2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, ...","[3, 2, 2, 3, 3, 2, 3, 2, 2, 3, 3, 3, 2, 3, 2, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{""Cable TV"",""Wireless Internet"",Kitchen,""Free...","[$250.00, $200.00, $0, $0, $0, $200.00, $350.0...","[$35.00, $50.00, $100.00, $100.00, $0, $30.00,...","[$150.00, $200.00, $143.00, $150.00, $350.00, ..."
66,nan,--,6,[Bright clean 2 bedroom 1 bath appartment in t...,[Ballard is the most interesting and ecclectic...,"[1, 1, 3, 2, 1, 3, 2, 2, 1, 2, 2, 2, 1, 2, 1, ...","[2, 3, 3, 2, 2, 3, 2, 3, 2, 2, 2, 2, 4, 3, 3, ...","[3, 3, 2, 3, 3, 3, 2, 3, 3, 3, 2, 2, 4, 4, 3, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",K...","[$200.00, $200.00, $100.00, $0, $0, $750.00, $...","[$0, $0, $100.00, $0, $75.00, $140.00, $112.00...","[$99.00, $185.00, $250.00, $200.00, $275.00, $..."
67,nan,--,7,[Beautiful end-unit townhome with lots of dayl...,"[Cherry blossoms (Sakura) in the spring, every...","[4, 3, 1, 2, 2, 1, 2, 1, 2, 2]","[3, 4, 3, 3, 3, 3, 3, 3, 3, 4]","[3, 5, 1, 5, 3, 2, 3, 4, 4, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$750.00, $350.00, $500.00, $500.00, $0, $200....","[$300.00, $90.00, $250.00, $100.00, $109.00, $...","[$218.00, $350.00, $450.00, $149.00, $99.00, $..."
68,nan,--,8,[Heart of Ballard new townhome with 4 BRs + ba...,"[--, --, The suite is conveniently located off...","[2, 2, 3, 1, 1, 2, 1, 3, 2, 1, 2, 1, 2, 2, 2, ...","[4, 2, 3, 4, 3, 3, 4, 4, 3, 5, 2, 3, 3, 4, 5, ...","[4, 4, 3, 3, 5, 5, 5, 5, 3, 5, 4, 5, 5, 4, 1, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",""Air Conditi...","[$500.00, $150.00, $250.00, $800.00, $0, $500....","[$50.00, $85.00, $150.00, $75.00, $100.00, $80...","[$275.00, $199.00, $400.00, $325.00, $300.00, ..."
69,nan,--,9,[This business-themed modern home features: *...,[Your hosts made Madison Valley their home whe...,"[2, 1]","[3, 4]","[6, 6]","[Real Bed, Real Bed]","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00, $500.00]","[$150.00, $0]","[$250.00, $350.00]"

In [5]:
#lista de colunas
columns = list(df.columns)
columns

['avaliacao_geral',
 'experiencia_local',
 'max_hospedes',
 'descricao_local',
 'descricao_vizinhanca',
 'quantidade_banheiros',
 'quantidade_quartos',
 'quantidade_camas',
 'modelo_cama',
 'comodidades',
 'taxa_deposito',
 'taxa_limpeza',
 'preco']

In [6]:
#explode colunas 0 até 2
df = df.explode(columns[3:])
df

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
0,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
0,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
0,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
0,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,nan,--,8,Beautiful craftsman home in the historic Wedgw...,--,3,4,5,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$178.00,$299.00
68,nan,--,8,Located in a very easily accessible area of Se...,"Quiet, dead end street near I-5. The proximity...",2,4,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",$0,$99.00,$199.00
68,nan,--,8,This home is fully furnished and available wee...,--,1,3,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",$0,$0,$400.00
69,nan,--,9,This business-themed modern home features: *H...,Your hosts made Madison Valley their home when...,2,3,6,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$150.00,$250.00
69,nan,--,9,This welcoming home is in the quiet residentia...,"Despite the quiet, leafy streets of this resid...",1,4,6,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$500.00,$0,$350.00

In [7]:
#resetando o index
df.reset_index(inplace=True, drop=True)

In [8]:
df.head(3)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00

In [9]:
df.dtypes

avaliacao_geral         object
experiencia_local       object
max_hospedes            object
descricao_local         object
descricao_vizinhanca    object
quantidade_banheiros    object
quantidade_quartos      object
quantidade_camas        object
modelo_cama             object
comodidades             object
taxa_deposito           object
taxa_limpeza            object
preco                   object
dtype: object

### Conversão dados numéricos

In [10]:
import numpy as np

In [11]:
#converter de 
df["max_hospedes"] = df["max_hospedes"].astype(np.int64)

In [12]:
df.dtypes

avaliacao_geral         object
experiencia_local       object
max_hospedes             int64
descricao_local         object
descricao_vizinhanca    object
quantidade_banheiros    object
quantidade_quartos      object
quantidade_camas        object
modelo_cama             object
comodidades             object
taxa_deposito           object
taxa_limpeza            object
preco                   object
dtype: object

In [13]:
columns_numerics = ["quantidade_banheiros", "quantidade_quartos", "quantidade_camas"]

In [14]:
df[columns_numerics] = df[columns_numerics].astype(np.int64)

In [15]:
df.dtypes

avaliacao_geral         object
experiencia_local       object
max_hospedes             int64
descricao_local         object
descricao_vizinhanca    object
quantidade_banheiros     int64
quantidade_quartos       int64
quantidade_camas         int64
modelo_cama             object
comodidades             object
taxa_deposito           object
taxa_limpeza            object
preco                   object
dtype: object

In [16]:
df["avaliacao_geral"]

0       10.0
1       10.0
2       10.0
3       10.0
4       10.0
        ...
3813     nan
3814     nan
3815     nan
3816     nan
3817     nan
Name: avaliacao_geral, Length: 3818, dtype: object

In [17]:
#convertendo para float
df["avaliacao_geral"] = df["avaliacao_geral"].astype(np.float64)

In [18]:
df.dtypes

avaliacao_geral         float64
experiencia_local        object
max_hospedes              int64
descricao_local          object
descricao_vizinhanca     object
quantidade_banheiros      int64
quantidade_quartos        int64
quantidade_camas          int64
modelo_cama              object
comodidades              object
taxa_deposito            object
taxa_limpeza             object
preco                    object
dtype: object

In [19]:
df["preco"]

0       $110.00
1        $45.00
2        $55.00
3        $52.00
4        $85.00
         ...
3813    $299.00
3814    $199.00
3815    $400.00
3816    $250.00
3817    $350.00
Name: preco, Length: 3818, dtype: object

In [20]:
#df["preco"] = df["preco"].astype(np.float64)
#String "$" não pode ser convertida para float

In [21]:
df["preco"] = df["preco"].apply(lambda x: x.replace("$","").replace(",", "").strip())
#funão lambda = função anônima para rápidas expressões
#função replace = substitui uma uma string por outra, neste caso de funções anônimas nesse caso, de "$" para ""
#função strip = remove espaços em branco, ou vazios

In [22]:
df.dtypes

avaliacao_geral         float64
experiencia_local        object
max_hospedes              int64
descricao_local          object
descricao_vizinhanca     object
quantidade_banheiros      int64
quantidade_quartos        int64
quantidade_camas          int64
modelo_cama              object
comodidades              object
taxa_deposito            object
taxa_limpeza             object
preco                    object
dtype: object

In [23]:
df["preco"] = df["preco"].astype(np.float64)

In [24]:
df.dtypes

avaliacao_geral         float64
experiencia_local        object
max_hospedes              int64
descricao_local          object
descricao_vizinhanca     object
quantidade_banheiros      int64
quantidade_quartos        int64
quantidade_camas          int64
modelo_cama              object
comodidades              object
taxa_deposito            object
taxa_limpeza             object
preco                   float64
dtype: object

In [ ]:
#Erro por conta do caractere '$'
df[["taxa_deposito", "taxa_limpeza"]] = df[["taxa_deposito", "taxa_limpeza"]].astype(np.float64)

ValueError: could not convert string to float: '$0'

In [ ]:
#applymap porque tem 2 registros a serem modificados
df[["taxa_deposito", "taxa_limpeza"]] = df[["taxa_deposito", "taxa_limpeza"]].map(lambda x: x.replace("$","").replace(",", "").strip())

In [ ]:
df[["taxa_deposito", "taxa_limpeza"]] = df[["taxa_deposito", "taxa_limpeza"]].astype(np.float64)

In [ ]:
df.dtypes

avaliacao_geral         float64
experiencia_local        object
max_hospedes              int64
descricao_local          object
descricao_vizinhanca     object
quantidade_banheiros      int64
quantidade_quartos        int64
quantidade_camas          int64
modelo_cama              object
comodidades              object
taxa_deposito           float64
taxa_limpeza            float64
preco                   float64
dtype: object

## Conversão dados textuais

In [ ]:
df["descricao_local"]

0       This clean and comfortable one bedroom sits ri...
1       Our century old Upper Queen Anne house is loca...
2       Cozy room in two-bedroom apartment along the l...
3       Very lovely and cozy room for one. Convenientl...
4       The “Studio at Mibbett Hollow' is in a Beautif...
                              ...
3813    Beautiful craftsman home in the historic Wedgw...
3814    Located in a very easily accessible area of Se...
3815    This home is fully furnished and available wee...
3816    This business-themed modern home features:  *H...
3817    This welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [ ]:
df["descicao_local"] = df["descricao_local"].str.lower()

In [ ]:
df["descricao_local"][300]

'This is a detached, completely private apartment.  It has a full private bathroom with shower and tub, a private keyless entrance, and a kitchenette with a small refrigerator. Entrance: Check-in is easy, because the door is secured with an entrance code that is not reused.  No keys to get or return!  We send you your code and you can enter at any time day or night without arranging a time for us to give you keys. Privacy: This is a 100% private, detached unit. Parking and Driving: There is free parking available on 30th Avenue or on Dewey behind the unit. 520 is about 5 minutes away, giving you very quick access to either I5 or the East Side. Transportation: There is a ZipCar at 24th and Madison.  There are usually Car2Go cars on Madison near by. The bus stop is at E Madison St & 28th Ave E, less than a five minute walk away.  Downtown is about ten minutes on the 11 bus.  The 8 bus provides quick access to Seattle Center, Capitol Hill, Rainier Valley, and the Mount Baker Link station. '

In [ ]:
df["descricao_local"] = df ["descricao_local"].str.replace("[^a-zA-Z0-9\-\']", " ", regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\-'
<>:1: SyntaxWarning: invalid escape sequence '\-'
C:\Users\Rebeka\AppData\Local\Temp\ipykernel_2532\3482526053.py:1: SyntaxWarning: invalid escape sequence '\-'
  df["descricao_local"] = df ["descricao_local"].str.replace("[^a-zA-Z0-9\-\']", " ", regex=True)

In [ ]:
df["descricao_local"][300]

'This is a detached  completely private apartment   It has a full private bathroom with shower and tub  a private keyless entrance  and a kitchenette with a small refrigerator  Entrance  Check-in is easy  because the door is secured with an entrance code that is not reused   No keys to get or return   We send you your code and you can enter at any time day or night without arranging a time for us to give you keys  Privacy  This is a 100  private  detached unit  Parking and Driving  There is free parking available on 30th Avenue or on Dewey behind the unit  520 is about 5 minutes away  giving you very quick access to either I5 or the East Side  Transportation  There is a ZipCar at 24th and Madison   There are usually Car2Go cars on Madison near by  The bus stop is at E Madison St   28th Ave E  less than a five minute walk away   Downtown is about ten minutes on the 11 bus   The 8 bus provides quick access to Seattle Center  Capitol Hill  Rainier Valley  and the Mount Baker Link station  '

In [ ]:
df["descricao_local"]=df["descricao_local"].str.replace("(?<!\w)-(?!\w)", " ", regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:1: SyntaxWarning: invalid escape sequence '\w'
C:\Users\Rebeka\AppData\Local\Temp\ipykernel_2532\414037003.py:1: SyntaxWarning: invalid escape sequence '\w'
  df["descricao_local"]=df["descricao_local"].str.replace("(?<!\w)-(?!\w)", " ", regex=True)

In [ ]:
df["descricao_local"]

0       This clean and comfortable one bedroom sits ri...
1       Our century old Upper Queen Anne house is loca...
2       Cozy room in two-bedroom apartment along the l...
3       Very lovely and cozy room for one  Convenientl...
4       The  Studio at Mibbett Hollow' is in a Beautif...
                              ...
3813    Beautiful craftsman home in the historic Wedgw...
3814    Located in a very easily accessible area of Se...
3815    This home is fully furnished and available wee...
3816    This business-themed modern home features    H...
3817    This welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [ ]:
df.head(4)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco,descicao_local
0,10.0,--,1,"[This, clean, and, comfortable, one, bedroom, ...",Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,0.0,110.0,this clean and comfortable one bedroom sits ri...
1,10.0,--,1,"[Our, century, old, Upper, Queen, Anne, house,...","Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,45.0,our century old upper queen anne house is loca...
2,10.0,--,1,"[Cozy, room, in, two-bedroom, apartment, along...",The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,55.0,cozy room in two-bedroom apartment along the l...
3,10.0,--,1,"[Very, lovely, and, cozy, room, for, one, Conv...","Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,20.0,52.0,very lovely and cozy room for one. convenientl...

In [ ]:
#cria um tolken de palavras que pode ser usado futuramente em uma núvem de palavras
df["descricao_local"] = df["descricao_local"].str.split()

In [ ]:
df.head(3)

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,"[This, clean, and, comfortable, one, bedroom, ...",Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,110.0
1,10.0,--,1,"[Our, century, old, Upper, Queen, Anne, house,...","Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,45.0
2,10.0,--,1,"[Cozy, room, in, two-bedroom, apartment, along...",The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,55.0

In [ ]:
#Remove caracteres especiais, neste caso queremos tirar as chaves {}
df["comodidades"] = df["comodidades"].str.replace(r"[{}\”]", "", regex=True)

In [ ]:
df["comodidades"]

0       Internet,"Wireless Internet",Kitchen,"Free Par...
1       TV,Internet,"Wireless Internet",Kitchen,"Free ...
2       TV,Internet,"Wireless Internet",Kitchen,"Free ...
3       Internet,"Wireless Internet",Kitchen,"Free Par...
4       "Wireless Internet",Kitchen,"Free Parking on P...
                              ...
3813    TV,"Cable TV",Internet,"Wireless Internet","Ai...
3814    TV,"Cable TV",Internet,"Wireless Internet",Kit...
3815    TV,"Cable TV",Internet,"Wireless Internet","Ai...
3816    TV,"Cable TV",Internet,"Wireless Internet","Ai...
3817    TV,Internet,"Wireless Internet",Kitchen,"Free ...
Name: comodidades, Length: 3818, dtype: object

In [ ]:
#transformando em lista
df["comodidades"] = df["comodidades"].str.split(",")

In [ ]:
df["comodidades"]

0       [Internet, "Wireless Internet", Kitchen, "Free...
1       [TV, Internet, "Wireless Internet", Kitchen, "...
2       [TV, Internet, "Wireless Internet", Kitchen, "...
3       [Internet, "Wireless Internet", Kitchen, "Free...
4       ["Wireless Internet", Kitchen, "Free Parking o...
                              ...
3813    [TV, "Cable TV", Internet, "Wireless Internet"...
3814    [TV, "Cable TV", Internet, "Wireless Internet"...
3815    [TV, "Cable TV", Internet, "Wireless Internet"...
3816    [TV, "Cable TV", Internet, "Wireless Internet"...
3817    [TV, Internet, "Wireless Internet", Kitchen, "...
Name: comodidades, Length: 3818, dtype: object